@import './reset.css';
@import './nprogress.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
  text-autospace: normal;
}

/* NDataTable flex-height */
.n-data-table--flex-height .n-data-table--flex-height .n-data-table-base-table-body {
  flex: 1 !important;
  min-height: 0 !important;
}
.n-data-table--flex-height .n-scrollbar-content {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100% !important;
}

html {
  overflow-x: hidden;
  color: rgb(var(--base-text-color));
}
